*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width:100%;
  height:100%;
  font-family: "roboto",sans-serif;
  overflow: hidden;
}
.register-page{
  margin: auto;
  width: 30%;
  padding: 20px;
  border: 2px solid purple;
  background-color: aliceblue;
  margin-top: 5%;
  flex-direction: column;

}
.login-page{
  margin: auto;
  width: 30%;
  padding: 20px;
  border: 2px solid purple;
  background-color: aliceblue;
  margin-top: 5%;
  flex-direction: column;

}
.summary-page{
  margin: auto;
  width: 40%;
  height: calc(100% - 100px);
  padding: 20px;
  border: 2px solid purple;
  background-color: aliceblue;
  margin-top: 1%;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
textarea{
  padding: 5px;
  overflow: hidden;
}
.summury-container{
  height: 40vh;
  border: 2px solid purple;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  font-weight: 300;
  margin-bottom: 3%;
}
.Toastify__toast--success {
  display: block !important;
}

.cardContainer{
  width: 80%;
  margin: auto;
  display: grid; 
  grid-template-columns: repeat(5,1fr);
  grid-gap:15px;
  margin-top: 2%;
}
.card{
  /* border: 1px solid black; */
  background-color: white;
  padding: 2%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height:80%
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;; */
}
.card:hover{
  border: 2px solid purple;
  cursor: pointer;
  border-radius: 15px;
}
.card p {
  font-weight: bolder;
}
.card h5{
  margin: 2% 0px;
}

/* Chatbot.css */

#chat-window {
  width: 500px;
  margin: auto;
  background-color:purple;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

#chat-messages {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: auto;
}

#chat-form {
  display: flex;
  align-items: center;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f7efe5;
  color: #674188;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.bot-message {
  font-family: "Roboto", sans-serif;
  background-color: rgb(107, 107, 216); /* different light color */
  text-align: justify; /* keep it right-aligned */
  padding: 15px; /* added padding */
  margin-top: 10px; /* added margin-top to create a gap */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-style: italic;
  border-radius: 15px;
  color:white
}

.user-message {
  font-family: "Nunito", sans-serif;
  background-color: rgb(228, 79, 228); /* light color */
  text-align: left; /* changed text align to left */
  padding: 15px; /* added padding */
  display: flex;
  align-items: center;
  font-style: italic;
  border-radius: 15px;
  color:white
}
.user-message img,
.bot-message img {
  width: 40px; /* adjust the width of the icon */
  height: 40px; /* adjust the height of the icon */
  margin-right: 20px; /* add some margin to separate the icon from the message */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
  #chat-window {
    width: 90%;
  }
}

@media screen and (min-width:512px) and (max-width:1024px){
 
  .summary-page{
    width:90%;
    margin: auto;
  }
  .cardContainer{
   grid-template-columns: repeat(3,1fr);
  }
  
}
@media screen and (min-width:300px) and (max-width:511px){
  .summary-page{
      width:95%;
      margin: auto;
      
  }
  .cardContainer{
    grid-template-columns: repeat(2,1fr);
   }
  
}






