*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width:100%;
  height:100%;
  font-family: "roboto",sans-serif;
}
.register-page{
  margin: auto;
  width: 30%;
  padding: 20px;
  border: 2px solid purple;
  background-color: aliceblue;
  margin-top: 5%;
  flex-direction: column;

}
.login-page{
  margin: auto;
  width: 30%;
  padding: 20px;
  border: 2px solid purple;
  background-color: aliceblue;
  margin-top: 5%;
  flex-direction: column;

}
.summary-page{
  margin: auto;
  width: 40%;
  padding: 20px;
  border: 2px solid purple;
  background-color: aliceblue;
  margin-top: 4%;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
textarea{
  padding: 5px;
  overflow: hidden;
}
.summury-container{
  height: 60vh;
  border: 2px solid purple;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  font-weight: 300;
}
.Toastify__toast--success {
  display: block !important;
}

.cardContainer{
  width: 80%;
  margin: auto;
  display: grid; 
  grid-template-columns: repeat(5,1fr);
  grid-gap:15px;
  margin-top: 2%;
}
.card{
  /* border: 1px solid black; */
  background-color: white;
  padding: 2%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height:80%
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;; */
}
.card:hover{
  border: 2px solid purple;
  cursor: pointer;
  border-radius: 15px;
}
.card p {
  font-weight: bolder;
}
.card h5{
  margin: 2% 0px;
}

/* Chatbot.css */
.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 70vh; /* 100% of the viewport height */
  max-height: 100vh;
  width:50%;
  margin: auto;
  border: 1px solid purple;
  margin-top: 2%; /* In case content overflows, don't exceed viewport height */
}

.chat {
  flex-grow: 1; /* The chat area expands to take up remaining vertical space */
  overflow-y: auto; /* Allow vertical scrolling within the chat container */
  padding: 20px;
}

.chat-message {
  width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.user-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width:85%
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .chat-message {
    max-width: 80%;
  }

  .user-input {
    flex-direction: column;
  }

  input[type="text"] {
    margin-top: 10px;
  }

  button {
    margin-top: 10px;
  }
}

@media screen and (min-width:512px) and (max-width:1024px){
 
  .summary-page{
    width:90%;
    margin: auto;
  }
  .cardContainer{
   grid-template-columns: repeat(3,1fr);
  }
  
}
@media screen and (min-width:300px) and (max-width:511px){
  .summary-page{
      width:95%;
      margin: auto;
      
  }
  .cardContainer{
    grid-template-columns: repeat(2,1fr);
   }
  
}






